* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	/* setting 1 rem to 10px */
	/* font-size: 10px;  */
	/* default is 16px we want to set it at 10px, so */
	font-size: 62.5%;
	overflow-x: hidden;
}

body {
	font-family: "Rubik", sans-serif;
	line-height: 1;
	font-weight: 400;
	color: #555;
	overflow-x: hidden;
}

/*
.test{
  background-color: red;
  padding: 10rem;
  width: 1000px; 
   max-width: 1000px; 

   max-width: 50rem; 
   1 rem = 16px By default -> 50 * 16 = 800px
   To change deafult, set fomt-size at the root element(HTML)
} 
*/

/* ************************ */
/** 1. GENERAL REUSABLE COMPONENTS **/
/* ************************ */

.container {
	max-width: 120rem;
	margin: 0 auto;
	padding: 0 3.2rem;
}

.grid {
	display: grid;
	row-gap: 9.6rem;
	column-gap: 6.4rem;
	/* margin-bottom: 9.6rem; */
}

/* .grid:last-child{
	margin-bottom: 0;
} */

.grid:not(:last-child) {
	margin-bottom: 9.6rem;
}

.grid--center-v {
	align-self: center;
}

.grid--2-cols {
	grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
	grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
	grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
	grid-template-columns: repeat(5, 1fr);
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
	font-weight: 700;
	letter-spacing: -0.5px;
	color: #333;
}

.heading-primary {
	font-size: 5.2rem;
	line-height: 1.05;
	margin-bottom: 3.2rem;
}

.heading-secondary {
	font-size: 4.4rem;
	line-height: 1.2;
	margin-bottom: 9.6rem;
}

.heading-tertiary {
	font-size: 3rem;
	line-height: 1.2;
	margin-bottom: 3.2rem;
}

.subheading {
	display: block;
	font-size: 1.6rem;
	font-weight: 500;
	color: #cf711f;
	text-transform: uppercase;
	margin-bottom: 1.6rem;
	letter-spacing: 0.75px;
}

.btn--form {
	background-color: #45260a;
	color: #fdf2e9;
	align-self: end;
	padding: 1.2rem !important;
}

.btn--form:hover {
	background-color: #fff;
	color: #555;
}

.btn,
.btn:link,
.btn:visited {
	display: inline-block;
	font-size: 2rem;
	font-weight: 600;
	padding: 1.6rem 3.2rem;
	border-radius: 0.9rem;
	text-decoration: none;
	/* PUT TRANSITION ON ORIGINAL STATE */
	transition: all 0.3s;
	border: none;
	cursor: pointer;
	font-family: inherit;
}

.btn-full:link,
.btn-full:visited {
	background-color: #e67e22;
	color: #fff;
}

.btn-full:hover,
.btn-full:active {
	background-color: #cf711f;
}

.btn-outline:link,
.btn-outline:visited {
	background-color: #fff;
	color: #555;
}

.btn-outline:hover,
.btn-outline:active {
	background-color: #fdf2e9;
	/* border: 0.3rem solid #fff; */
	box-shadow: inset 0 0 0 0.3rem #fff;
}

.margin-right-sm {
	margin-right: 1.6rem !important;
}

.margin-bottom-md {
	margin-bottom: 4.8rem !important;
}

strong {
	font-weight: 500;
}

.link:link,
.link:visited {
	color: #e67e22;
	text-decoration: none;
	border-bottom: 1px solid currentColor;
	display: inline-block;
	padding-bottom: 2px;
	transition: all 0.3s;
}

.link:hover,
.link:visited {
	color: #cf711f;
	border-bottom: 1px solid transparent;
}

.center-text {
	text-align: center;
}

.list {
	list-style: none;
	display: flex;
	flex-direction: column;
}

.list-icon {
	font-size: 2.4rem;
	color: #fff;
}

.list-item {
	display: flex;
	align-items: center;
	gap: 1.6rem;
	line-height: 1.2;
  padding: 1rem 1rem;
}

.main-bg{
  background-color: #333C5C;
  max-width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: auto 2fr 1fr;

}

.logo{
  height: 2.2rem;
}

.nav-section{
  background-image: linear-gradient(to bottom right, #647DEE, #333C5C);
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: start;
  align-items: center;
  padding: 2rem 4rem;
}

.list-item p {
  color: #fff;
  font-size: 1.4rem;
}

.nav-head{
  font-size: 1.4rem;
  color: #fff;
  font-weight: 600;
  padding-left: 2rem;
  margin-bottom: 2.4rem;
}

.nav-active{

  background-color: #333C5C;
  border-radius: 1rem;
}


.nav-profile{
  display: flex;
  align-items: center;
  gap: 2.2rem;
  margin-top: auto;
}

.nav-profile ion-icon:nth-child(1){
  font-size: 5rem;
  color: #fff;
}

.account-info{
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.account-info p{
  color: #fff;
  font-size: 1.4rem;
}

.nav-account ion-icon:nth-child(1),
.nav-account ion-icon:nth-child(2){
  font-size: 1.6rem;
  color: #fff;
}

.nav-account{
  display: flex;
  flex-direction: column;
}

.main-section{
  background-color: #333C5C;
}

.aside-section{
  justify-self: center;
}


